@{
    ViewBag.Title = "ForgotPasswordConfirmation";
}

@section Styles{
    <style>
        .custom-font{
            font-family:'Arial Rounded MT';
            padding:50px 20px 50px 20px;
            color:chocolate;
            font-size:larger;
        }
    </style>
    }

<div class="custom-font">
    <p>
        A password reset link is sent to your email, please use that link to reset your password.
    </p>
       
</div>


