
@{
    ViewBag.Title = "EmailVerfied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">
        .wronghead{
            text-align:center;
            font-family:'Comic Sans MS';
            color:indianred;
        }
    </style>
    }


<h2 class="wronghead">Something Went Wrong</h2>

