
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <style type="text/css">
        #verify-note{
            padding-top:3rem;
            text-align:center;
            font-family:'Comic Sans MS';
            color:indianred;
        }

    </style>
}
<h3 id="verify-note">Verification link is send to your Email Address please click the link to verify.</h3>

