
@{
    ViewBag.Title = "Endocrinology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <style type="text/css">
        .first-continer{
            height:200px;
            background-color:yellow;
            padding-top: 1em;
            background-clip:content-box;
        }
        .second-continer {
            height: 200px;
            background-color: greenyellow;
            padding-top: 1em;
            background-clip: content-box;
        }
    </style>
    }
<div class="first-continer"></div>
<div class="second-continer"></div>
