
@{
    ViewBag.Title = "HomePage";
}

@section Styles{
    <style type="text/css">


        .spaces {
            position: relative;
            margin: 0px -15px 0px -15px;
            text-align: center;
            color: #000099;
        }

        .img-width {
            height: 400px;
            width: 100%;            
        }

        .img-size{
            object-fit : contain;
        }

        .topleft {
            position: absolute;
            top: 2em;
            left: 26px;
            font-size: 3.5em;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            text-shadow: 1px 1px 5px #00ff99;
        }

        @@media screen and (max-width: 600px) {
                 div.topleft{
                 font-size: 2.5em;
                 top: 3em;
                           }
             }
    </style>
}

<div class="spaces">
    <div id="imageCarousel" data-ride="carousel" class="carousel slide" data-wrap="true" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarousel" data-slide-to="1"></li>
            <li data-target="#imageCarousel" data-slide-to="2"></li>
            <li data-target="#imageCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active img-width">
                <img src="~/Images/pexels-shvets-production-8413230.jpg" class="img-responsive img-size" alt="E-HealthCare"/>
                <div class="carousel-caption">
                    <h3>Welcome To E-HealthCare</h3>
                </div>
            </div>
            <div class="item img-width">
                <img src="~/Images/pexels-shvets-production-8413285.jpg" class="img-responsive img-size"  alt="E-HealthCare Services"/>
                <div class="carousel-caption">
                    <h3>
                        Get Medical Help Online
                    </h3>
                </div>
            </div>
            <div class="item img-width">
                <img src="~/Images/aditya-romansa-5zp0jym2w9M-unsplash.jpg" class="img-responsive img-size" alt="E-HealtCare Online"/>
                <div class="carousel-caption">
                    <h3>
                        Online Facilities Available
                    </h3>
                </div>
            </div>
            <div class="item img-width">
                <img src="~/Images/camilo-jimenez-vGu08RYjO-s-unsplash.jpg" class="img-responsive img-size" alt="E-HealthCare Help"/>
                <div class="carousel-caption">
                    <h3>
                        Let Us know Your Problems
                    </h3>
                </div>
            </div>
        </div>
        <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#imageCarousel" class="carousel-control right" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
   @* <div class="topleft">
        Welcome<br />To<br /> E-HealthCare

    </div>
       *@
</div>
