
@{
    ViewBag.Title = "Other Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        .main-wrapper{

        }

        .card {
            height:300px;
            width:300px;
            background-color:aquamarine;
        }

    </style>
    }



<h2>Others Services</h2>
<div class="main-wrapper">
    <div class="card">
        <h3>Dermatology and Cosmetology</h3>
    </div>

    <div class="card">
        <h3>Psychiatry & Clinical Psychology</h3>
    </div>
</div>