
@{
    ViewBag.Title = "Cancel Appointment";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}


@section Styles {
    <style type="text/css">
        .confirm-sec {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            font-family: 'Comic Sans MS';
        }

        .back-anchor{
            padding-left:2rem;
        }

        .back-anchor a{
            text-decoration:none;
        }
    </style>
}


@using (Html.BeginForm("CancelAppointment", "Patient", new { id = ViewBag.appointmentId }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <section class="confirm-sec">
        <div>
            <h4>Click the button below to cancel appointment</h4>
        </div><br />
        <div>
            <input type="submit" value="Cancel" class="btn btn-sm btn-danger" />
        </div>
    </section>
    <br /><br />
    <div class="back-anchor">
        @Html.ActionLink("Go back to appointment list", "AppointmentList", new { id = ViewBag.patientId })
    </div>
    
}


