
@{
    ViewBag.Title = "Error403";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">
        .error-text {
            height: 100vh;
            width: inherit;
            position: relative;
            background-image: linear-gradient(180deg,hsl(134deg 73% 71% / 40%),hsl(134deg 26% 66% / 0%),hsl(134deg 26% 66% / 0%));
            margin: 0px -20px 10px -20px;
        }

            .error-text h1 {
                position: absolute;
                top: 25%;
                left: 10%;
                right: 10%;
                bottom: 10%;
                font-family: Britannic;
            }
    </style>

}

<div class="error-text">
    <h1>There is error while requesting your request please try again later</h1>
</div>
